# @XobierWang

QWEN_API_KEY="your_qwen_api_key"
QWEN_MODEL="qwen-vl-plus-latest"
QWEN_TTS_MODEL="cosyvoice-v3-flash"
QWEN_TTS_VOICE="longanyang"
QWEN_EMBEDDING_MODEL="text-embedding-v4"
QWEN_EMBEDDING_DIMENSIONS=1024
QWEN_BASE_URL="https://dashscope.aliyuncs.com/compatible-mode/v1"
